<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.meamobile.printicular_sdk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".user_interface.ManageOrderActivity"
            android:label="@string/activity_manage_order_title">
        </activity>

        <activity
            android:name=".user_interface.CustomerDetailsActivity"
            android:label="@string/activity_customer_details_title">
        </activity>

    </application>

</manifest>
